<html>

<link rel="stylesheet" href="static/style.css" type="text/css"/>

    <head>

        {% if title %}
        <title>{{ title }} - УСАДЬБА 48</title>
        {% else %}
        <title><p style="font-size: 100px">УСАДЬБА 48</p></title>
        {% endif %}
    </head>

    <body>

    <center>
        <h1>
            <b style="font-size: 60px"> УСАДЬБА 48 </b>
        </h1>

    </center>
    <div>
        <a class="block1">МЕНЮ:</a>
        <a  href="/index" class="knopka">Главная страница</a>
        <a href="/dataset" class="knopka">Рыночные цены</a>
        <a href="/fotoot" class="knopka">Фото работ</a>

    </div>
    <center>
    <p><img src="/static/12.jpg" width=”40” height=”50”></p>
    </center>

        <center>
    <b style="font-size: 60px">КАК МЫ ВОПЛОЩАЕМ МЕЧТЫ?</b>
        </center>
    <center>
            <b style="font-size: 40px">СТРОИМ УСАДЬБЫ С НУЛЯ</b>
            <p><img src="/static/us1.jpg" width=”40” height=”50”></p>
            <b style="font-size: 40px">ВОЗВОДИМ КРАСИВЫЕ И ПРАКТИЧНЫЕ ДОМА</b>
            <p><img src="/static/house.jpg" width=”40” height=”50”></p>
            <b style="font-size: 40px">ВЫПОЛНЯЕМ ВНУТРЕННЮЮ ОТДЕЛКУ</b>
            <p><img src="/static/ot.jpg" width=”40” height=”50”></p>
            <b style="font-size: 40px">И МНОГОЕ ДРУГОЕ</b>
            <p><img src="/static/v.jpg" width=”40” height=”50”></p>
            <p><img src="/static/te.jpg" width=”40” height=”50”></p>
            <p><img src="/static/park.jpg" width=”40” height=”50”></p>
            <p><img src="/static/ban.jpg" width=”40” height=”50”></p>
    </center>


    </body>
</html>